*~
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/bookmarks
emacs/.emacs.d/elpa/
emacs/.emacs.d/emms
emacs/.emacs.d/ido.last
emacs/.emacs.d/image-dired
emacs/.emacs.d/smex-items
emacs/.emacs.d/tldr/
emacs/.emacs.d/tramp
emacs/.emacs.d/transient
emacs/.emacs.d/url/
xournal/.xournal/recent-files
